@mixin stroke-color($color) {
    stroke: $color;
    &[fill]:not([fill="none"]) {
        fill: $color;
    }
}

@mixin fill-color($color) {
    fill: $color;
    &[stroke]:not([stroke="none"]) {
        stroke: $color;
    }
}

.cad-viewer {
    svg {
        box-sizing: border-box;

        * {
            user-select: none;
            &.selectable {
                cursor: pointer;
            }
        }

        text {
            transform-box: fill-box;
            white-space: pre;
        }

        g {
            &:hover.selectable {
                line,
                circle,
                path {
                    @include stroke-color(cyan);
                }

                text {
                    @include fill-color(cyan);
                }
            }

            &.selected.selectable {
                line,
                circle,
                path {
                    @include stroke-color(#ffca1c);
                }

                text {
                    @include fill-color(#ffca1c);
                }
            }
        }
    }

    .multi-selector {
        position: absolute;
        background-color: rgba(29, 149, 234, 0.3);
        border: white solid 1px;
    }
}
