@mixin stroke-color($color) {
  stroke: $color;
  &[fill]:not([fill="none"]) {
    fill: $color;
  }
}

@mixin fill-color($color) {
  fill: $color;
  &[stroke]:not([stroke="none"]) {
    stroke: $color;
  }
}

$selected-color: #ffca1c;
$hover-color: cyan;

.cad-viewer {
  position: relative;
  svg {
    box-sizing: border-box;

    * {
      user-select: none;
      &.selectable {
        cursor: pointer;
      }
    }

    g {
      &:hover.selectable {
        line,
        circle,
        path {
          @include stroke-color($hover-color);
        }

        text {
          @include fill-color($hover-color);
        }
      }

      &.selected.selectable {
        line,
        circle,
        path {
          @include stroke-color($selected-color);
        }

        text {
          @include fill-color($selected-color);
        }

        image {
          filter: drop-shadow(0px 0px 5px $selected-color);
        }
      }
    }
  }

  .multi-selector {
    position: absolute;
    background-color: rgba(29, 149, 234, 0.3);
    border: white solid 1px;
  }
}
